apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nodeapp-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeapp-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodeapp
  template:
    metadata:
      labels:
        app: nodeapp
    spec:
      containers:
        - name: nodeapp
          image: prathamesh24/node-js-sample:1.0
          ports:
            - containerPort: 8082
          volumeMounts:
            - name: node-volume
              mountPath: /data
      volumes:
        - name: node-volume
          persistentVolumeClaim:
            claimName: nodeapp-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: nodeapp-service
spec:
  type: NodePort
  selector:
    app: nodeapp
  ports:
    - port: 8082
      targetPort: 8082
      nodePort: 30080
